.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/*
node_modules/
generated/
out/
syntaxes/
src/language/generated/
.env
src/test/benchmark/result/*
src/test/llmBenchmark/result/*